html,body{
    margin:0;
    width: 100%;
    background-color: #ffe3ae;
    animation: 2s ease change-Color forwards;
    overflow: hidden;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    background-image: url("../sprite/background5.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 1200px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    animation: 2s ease up_BackGround forwards;
    
}
button{
    border:0px;
    background-size: 180px 180px;
    background-position: center;
    border-radius:100px;
    width: 180px;
    height: 180px;
    margin-bottom: 130px;
    justify-items: center;
}
button:hover{
    background-color: rgb(119, 119, 119);
}
button:active{
    background-color: rgb(36, 36, 36);
}
img{
    margin: 30px 0px 30px 0px;

    width: 450px;
    display: flex;
    align-items: center;
    animation: 1.5s ease up_BackGround forwards;
}
.icon_1{
    background-image: url("../sprite/icon1.png");
}
.icon_1:hover{
     background-image: url("../sprite/icon1-H.png");
}
.icon_1:active{
     background-image: url("../sprite/icon1-A.png");
}
.icon_2{
    background-image: url("../sprite/icon1.png");
}
.icon_2:hover{
     background-image: url("../sprite/icon2-H.png");
}
.icon_2:active{
     background-image: url("../sprite/icon2-A.png");
}
.icon_3{
    background-image: url("../sprite/icon3.png");
}
.icon_3:hover{
     background-image: url("../sprite/icon3-H.png");
}
.icon_3:active{
     background-image: url("../sprite/icon3-A.png");
}
.icon_4{
    background-image: url("../sprite/icon4.png");
}
.icon_4:hover{
     background-image: url("../sprite/icon4-A.png");
}
.icon_4:active{
     background-image: url("../sprite/icon4-H.png");
}
p{
    margin: 210px 0px 0px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color:#ffffff;
    background-color: #5B5331;
    border-radius: 50px;
    padding: 15px;
    width: 150px;
    border: 5px solid  #9a8a47;
}
@keyframes up_BackGround{
    20%{
        transform: translateY(1000px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes change-Color{
    to{
        background-color: #fdf0d7;
    }

}


