html,body{
    margin:0;
    width: 100%;
    background-color: #fdf0d7;
    animation: 2s ease change-Color forwards;
    overflow: hidden;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Panel{
    background-image: url("/sprite/background5.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 1200px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    animation:2s ease MovePanel forwards; 
}
.Top button{
    background-color: unset;
    border:0px;
    font-size: 20px;
    margin: 30px 0px 0px 10px;
    color:#a78451;
    animation: 1.5s ease change_logo forwards;
}
.Top td img{
    margin: 30px 0px 30px 0px;
    width: 450px;
    animation: 1.5s ease change_logo forwards;
}
.block img{
    width: 440px;
    padding:10px;
    background-color: #dbca7b;
    border-radius: 5px;
}
.block{
    display: flex;
    flex-direction: column;
}
.Top td{
    width: 500px;
    vertical-align: middle; /* 세로 중앙 정렬 */
    text-align: center;
}
.Top td:first-child {
    text-align: left; /* 왼쪽 칸은 왼쪽 정렬 */
    vertical-align: top; /* 위쪽 정렬 */
}

.Top table{
    width: 100%;
    table-layout: fixed;
}
.Panel td{
    width: 450px;
    height: 350px;
}
.Panel table{
    border-collapse:separate;
    border-spacing: 10px;
}
.block h3{
    color:hsl(49, 100%, 85%);
    margin: 0px 0px 10px 0px;
}
.price_U{
    color:rgb(255, 251, 43);
}
.price_M{
    color:rgb(125, 181, 255);
}
.block_text{
    display: flex;
    flex-direction: row;
}
.block_text p{
    margin: 6px 0px 0px 5px;
    color: rgb(226, 226, 226);
    font-size: 14px;
}
@keyframes change_logo{
    50%{
        transform: translateY(-20px);
    }
    100%{
       transform: translateY(0px);
    }
}
@keyframes change-Color{
    to{
        background-color: #ffe3ae;
    }
}
@keyframes MovePanel{
    20%{
        transform: translateY(1000px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}