html,body{
    margin:0;
    width: 100%;
    background-color: #fdf0d7;
    animation: 2s ease change-Color forwards;
    overflow: hidden;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Panel{
    background-image: url("/sprite/background5.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width: 1200px;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    animation:2s ease MovePanel forwards; 
}
.Top button{
    background-color: unset;
    border:0px;
    font-size: 20px;
    margin: 30px 0px 0px 10px;
    color:#c9a767;
    animation: 1.5s ease change_logo forwards;
}
.Top td img{
    margin: 30px 0px 30px 0px;
    width: 450px;
    animation: 1.5s ease change_logo forwards;
}
.Panel td img{
    width: 750px;
}
.Panel td{
    height: 400px;
}
.buttons{
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.block{
    margin:0px 0px 0px -30px;
}
.buttons button{
    margin-left: 50px;
    width: 110px;
    height: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-color: #585131;
    border: 5px solid  #363019;
    border-radius: 50px;
    color: white;
}
#Point{
    background-color: #585131;
}
#Point:hover{
    background-color: #3a3520;
    border: 5px solid  #706433;
    color: rgb(182, 181, 181);
}
#Point:active{
    background-color: #312d1c;
    border: 5px solid  #524926;
    color: rgb(156, 156, 156);
}
#Point1{
    background-color: #8a1c14;
}
#Point1:hover{
   background-color: #3a3520;
    border: 5px solid  #706433;
    color: rgb(182, 181, 181);
}
#Point1:active{
    background-color: #312d1c;
    border: 5px solid  #524926;
    color: rgb(156, 156, 156);
}
#Point2{
   background-color: #975d07;
}
#Point2:hover{
    background-color: #3a3520;
    border: 5px solid  #706433;
    color: rgb(182, 181, 181);
}
#Point2:active{
    background-color: #312d1c;
    border: 5px solid  #524926;
    color: rgb(156, 156, 156);
}
#Point3{
    background-color: #94870e;
}
#Point3:hover{
    background-color: #3a3520;
    border: 5px solid  #706433;
    color: rgb(182, 181, 181);
}
#Point3:active{
    background-color: #312d1c;
    border: 5px solid  #524926;
    color: rgb(156, 156, 156);
}
#Point4{
    background-color: #1e6815;
}
#Point4:hover{
    background-color: #3a3520;
    border: 5px solid  #706433;
    color: rgb(182, 181, 181);
}
#Point4:active{
    background-color: #312d1c;
    border: 5px solid  #524926;
    color: rgb(156, 156, 156);
}
.Top td{
    width: 500px;
    vertical-align: middle; 
    text-align: center;
}
.Top td:first-child {
    text-align: left; 
    vertical-align: top; 
}

.Top table{
    width: 100%;
    table-layout: fixed;
}

p{
    margin: 0px 0px 0px 30px;
}
@keyframes change_logo{
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes change-Color{
    to{
        background-color: #ffe3ae;
    }
}
@keyframes MovePanel{
    20%{
        transform: translateY(1000px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}